<div style="text-align:center">
  <h4>
    Welcome to {{ title }}!
  </h4>
</div>
<form class="searchInput">
  <mat-form-field class="searchInput">
    <input placeholder="Search..." type="text" matInput [(ngModel)]="quickFilter" name="searchControl" (input)="onFilterTextChanged($event)">
  </mat-form-field>
</form>
<hr>
<ag-grid-angular style="width: 100%; height: 400px;" class="ag-theme-balham-dark" [rowData]="rowData"
  [columnDefs]="columnDefs" [gridOptions]="gridOptions" [pagination]="pagination" [paginationAutoPageSize]="paginationAutoPageSize"
  [enableColResize]="true">
</ag-grid-angular>
